@model Invent.Web.Data.Entities.Status

@{
    ViewData["Title"] = "Create";

    if (ViewBag.ReturnUrl == null)
    {
        ViewBag.ReturnUrl = "/Choices";
    }
}
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Status</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-10 offset-1 text-center">
                        <img src="~/images/ams.png" alt="ams" style="width: 200px; margin: 5% auto;" />
                        <br /><br />
                              <form asp-action="Create">
                                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                  <div class="text-danger">@ViewBag.AlreadyExists</div>
                                  <br />
                                  <div class="form-group">
                                      <label asp-for="Name" class="control-label"></label>
                                      <input asp-for="Name" class="form-control" />
                                      <span asp-validation-for="Name" class="text-danger"></span>
                                  </div>
                                  <br />
                                  <div class="form-group">
                                      <input type="submit" value="Create" class="btn btn-primary btn-block" asp-route-inventoryId=@ViewBag.InventoryId />
                                  </div>
                              </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">

    $("#myModal").modal('show');

    $('#myModal').on('hidden.bs.modal', function (e) {

        document.location.href = "@ViewBag.ReturnUrl";

    })
</script>
}
