@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
    ViewData["ActivePage"] = "ChangePassword";

}

@*<h1>@ViewData["Title"]</h1>
    <div>
        <p>
            Thank you for confirming your email.
        </p>
    </div>*@

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>
                    Thank you for confirming your email.
                </p>
                <br /><br />
                <p>Click <a asp-area="Identity" asp-page="/Account/Manage/ChangePassword">here</a> if you want to change your current password.</p>
                <br />

                <img src="~/images/ams.png" alt="Logo" class="center" style="width: 200px;" />
            </div>

        </div>
    </div>
</div>

<style>
    .center {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    a {
        color: red;
    }
</style>

@section Scripts {

    <script type="text/javascript">

        $("#myModal").modal('show');

        $('#myModal').on('hidden.bs.modal', function (e) {

            document.location.href = "/Identity/Account/Login";

        })

    </script>
}