@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@*<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>*@

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="col-md-10 offset-1">
                    <br />
                    <h4>
                        Please check your email to reset your password.
                    </h4>
                </div>
                <br />
                <img src="~/images/ams.png" alt="Logo" class="center" style="width: 200px;" />
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

@section Scripts {
    <script type="text/javascript">

        $("#myModal").modal('show');

        $('#myModal').on('hidden.bs.modal', function (e) {

            document.location.href = "/Identity/Account/Login";
        })
    </script>
}