@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}






<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ViewData["Title"]</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 offset-1">
                        <h4 style="text-align:center">Please reset your password</h4>
                        <br /><br />
                        <form method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="form-group">
                                <label asp-for="Input.Email"></label>
                                <input asp-for="Input.Email" class="form-control" />
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input asp-for="Input.Password" class="form-control" />
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Reset</button>
                        </form>
                    </div>
                </div>
                <br />
                <img src="~/images/ams.png" alt="Logo" class="center" style="width: 200px;" />
            </div>
        </div>
    </div>
</div>

<style>
    .center {
        display: block;
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $("#myModal").modal('show');

        $('#myModal').on('hidden.bs.modal', function (e) {

            document.location.href = "/Identity/Account/Login";

        })
    </script>
}
